<!--<div class="input-line">-->
<!-- <div class="input-line_cell"> <input (click)="editValue($event)" value="{{user.login}}" ></div>-->
<!-- <div class="input-line_cell"><input (click)="editValue( $event)" value="{{user.password}}" ></div>-->
<!--<div class="input-line_cell"><input (click)="editValue( $event)" value="{{user.role}}" ></div>-->

<!--</div>-->
<form [formGroup]="userForm" class="input-line">
  <div class="input-line_cell">
    <input (click)="editValue( $event)" type="text"  formControlName="login"/>
  </div>
  <div class="input-line_cell">
    <input (click)="editValue( $event)" type="text"  formControlName="password"/>
  </div>
  <div class="input-line_cell">
<!--    <input (click)="editValue( $event)" type="text"  formControlName="role"/>-->
    <select (click)="editValue( $event)" type="text"  formControlName="role">
      <option>admin</option>
      <option>redactor</option>
      <option>user</option>
    </select>
  </div>
</form>

<div (click)="editValue( $event)" class="buuu">

  <button (click)="updateUser()" class="bu" ><img class="butt" src="../../assets/save-file.svg "></button>
  <button (click)="deleteUser()" class="bu" ><img class="butt" src="../../assets/delete.svg"></button>
</div>
