<div class="main-table">
  <div class="main-table-top">
    <p class="main-table-body-cell iu">login</p>
    <p class="main-table-body-cell iu">password</p>
    <p class="main-table-body-cell ui">role</p>
  </div>
  <div *ngFor="let user of users" class="main-table-body__wrapper">
    <div class="main-table-body" (click)="_editUser(user)">
      <p *ngIf="!user.selected" class="main-table-body-cell iu"> {{user.login}} </p>
      <p *ngIf="!user.selected" class="main-table-body-cell ui"> {{user.password}}</p>
      <p *ngIf="!user.selected" class="main-table-body-cell ui"> {{user.role}} </p>

      <app-edit-user *ngIf="user.selected" [user]="user"></app-edit-user>
    </div>
  </div>
</div>
