<div class="login-background">
  <div class="background-u">
    <h1 (click)="toggleMode()" class="go">Вход</h1>
    <span>/</span>
    <h1 (click)="toggleMode()" class="goo">Регистрация</h1>
    <form [formGroup]="userForm">
      <div>
        <label>Имя:</label>
        <input type="text" formControlName="login"/>
      </div>

      <div>
        <label>Пароль:</label>
        <input type="text" formControlName="password"/>
      </div>
    </form>
    <div class="butt">
      <button class="desing" (click)="requestServer()">{{ buttonName }}</button>
    </div>
  </div>
</div>
