
.main{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    //background-image: url("../../assets/book_34.jpg");
    //background-size: cover;

    &-table{
        width: 45%;
        border-collapse: collapse;
            h1{
                text-align: center;
            }
            
        &-books{
            width: 100%;
            td{
                width: 25%;
                text-align: center;
                margin-bottom: 10%;
                border-bottom: 2px rgba(70, 13, 13, 0.445) solid;
            }
            }
            tr{
                margin-bottom: 54%;
            }
           tbody tr:hover {
                background-color: rgba(59, 4, 4, 0.26)
            }
    }

    &-link{
        color: black;
        text-decoration: none;
    }

    &-description{
        width: 45%;
        position: relative;
    
            img{
                padding-left: 20%;
                position: absolute;
                height:100%;
            }
    }

}






