
<div class="main">
    <div class="main-table">
            <h1>Моя библиотека</h1>
        <table class="main-table-books">
                        <tr>
                            <th>Название</th>
                            <th>Автор</th>
                            <th>Год</th>
                            <th>Жанр</th>
                        </tr>
<tbody>
                        <tr *ngFor="let book of books">
                        <!--[class.selected]="book === selectedBook" 
                        (click)="onSelect(book)">
                      [book]="selectedBook"
                      <app-ediing></app-ediing>
                      -->
                            <td><a class="main-link" routerLink="/detail/{{book.id}}"> {{book.name}}  </a> </td>
                            <td> {{book.author}} </td>
                            <td> {{book.year}}</td>
                            <td> {{book.genre}} </td>
                        </tr>
</tbody>
        </table>
    </div>

    <div class="main-description">
        <img src="../../assets/7.jpg" alt="Alt">
    </div>
</div>