.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.47);

}
.menu{
  position: absolute;
  z-index: 99;
  border-bottom: 1px black solid;
  border-top: 1px black solid;
  background-color: rgba(131, 21, 0);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 8vh;
  width: 100%;
  left: 0;
  top: 0;
  &-button{
    background-color: rgba(131, 21, 0, 0);
    margin-right: 2%;
    border: none;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Lobster';
    outline: none;
    &:hover{
      cursor: pointer;
      background-color: rgba(131, 21, 0, 0.69);
    }
    &-img{
      width: 30px;
    }
  }
}
.main {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("../../assets/book_main.jpg");
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: auto;

  &-table {
    margin-top: 8vh;
    width: 38%;
    margin-left: 12%;

    &-name {
      margin-left: 19%;
      //text-align: center;
      display: flex;
      flex-direction: row;

      &-text {
        font-family: 'Lobster', "Lucida Console";
      }

      &-butt {
        background-color: rgba(240, 255, 255, 0);
        border: none;
        outline: none;

        &:hover {
          cursor: pointer;
        }

        &-img {
          width: 25px;
        }
      }
    }

    &-top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      border-bottom: 2px rgba(70, 13, 13, 0.445) solid;
      font-weight: bold;

    }

    &-body {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      border-bottom: 2px rgba(70, 13, 13, 0.445) solid;


      &-name {
        width: 25%;
        text-align: center;
      }

      &-cell {
        width: 25%;
        text-align: center;
      }
    }
  }

  &-link {
    color: black;
    text-decoration: none;
  }

  &-img {
    width: 35%;
    height: 80%;
    margin: 5% 10% auto 3%;
    position: relative;
    text-align: center;

    img {
      height: 100%;
      max-width: 100%;
      box-shadow: 0 14px 28px rgba(44, 2, 2, 0.384), 0 10px 10px rgba(44, 2, 2, 0.384);
    }
  }
}

.main-table-body:hover {
  background-color: rgba(131, 21, 0, 0.5);
}


.butt {
  width: 25px;
  outline: none;
}

.bu {
  background-color: rgba(240, 255, 255, 0);
  border: none;
  outline: none;
}

.bu:hover {
  cursor: pointer;
}

.show-container {
  position: absolute;
  height: 70vh;
  width: 40vw;
  background-color: #fae8b3;
  top: 50%;
  left: 50%;
  margin-top: -35vh;
  margin-left: -20vw;
  border: 1px solid black;
  box-shadow: 0 14px 28px rgba(44, 2, 2, 0.384), 0 10px 10px rgba(44, 2, 2, 0.384);

  &:active .bg {
    z-index: 40;
  }
}

.bottt {
  position: absolute;
  margin-right: 0;
  background-color: rgba(131, 21, 0, 0);
  border: none;
  outline: none;
  //text-align:right;

  &:hover {
    cursor: pointer;
  }
}


@media screen and (min-width: 599px) {
  .procrutka {
    overflow-y: auto;
    height: 70vh;
  }

}

@media screen and (max-width: 599px) {
  .main-img {
    display: none;
  }

  .main-table {
    width: 100%;
    margin: 0 10%;
  }

  .main {
    background-image: none;

  }

  .main-table-body-cell {
    font-size: 13px;
  }

  .ui {
    width: 18%;
  }

  .iu {
    width: 32%;
  }

  .show-container {
    top:0;
    left: 0;
    margin:5% 5%;
    height: 90%;
    width: 90%;
  }
}
