<div class="create-book-form">

  <div class="main-table-name">
    <h1 class="main-table-name-text">Новая книга</h1>
  </div>
  <form [formGroup]="addBookForm" class="edit-book-form" >
  <div>
    <label>Название:</label>
    <input class="edit-book-form__input" type="text"  formControlName="name"/>
  </div>
  <div>
    <label>Автор:</label>
    <input class="edit-book-form__input" type="text"  formControlName="author"/>
  </div>
  <div>
    <label>Год:</label>
    <input class="edit-book-form__input" type="number"  formControlName="year"/>
  </div>
  <div>
    <label>Жанр:</label>
    <input class="edit-book-form__input" type="text"  formControlName="genre"/>
  </div>
    <div>
    <input type="file" (change)="onUploadChange($event)" class="edit-book-form__input" multiple accept="image/*,image/jpeg" formControlName="image"/>
    </div>
  <div>
    <textarea class="edit-book-form__input_description" rows="10" formControlName="description" ></textarea>
  </div>
</form>
<div>
  <button class="but-desing" (click)="addBook()">Сохранить</button>
</div>
</div>
