<div class="create-book-form">

  <div class="main-table-name">
    <h1 class="main-table-name-text">Моя библиотека</h1>
  </div>
  <form [formGroup]="addBookForm" >
  <div>
    <label>Название:</label>
    <input class="edit-book-form__input" type="text"  formControlName="name"/>
  </div>
  <div>
    <label>Автор:</label>
    <input class="edit-book-form__input" type="text"  formControlName="author"/>
  </div>
  <div>
    <label>Год:</label>
    <input class="edit-book-form__input" type="number"  formControlName="year"/>
  </div>
  <div>
    <label>Жанр:</label>
    <input class="edit-book-form__input" type="text"  formControlName="genre"/>
  </div>
  <div>
    <label>Описание:</label>
    <textarea class="edit-book-form__input _description" rows="15" formControlName="description"></textarea>
  </div>
</form>
<div class="butt">
  <button class="desing" routerLink="/books">отмена</button>
  <button class="desing" (click)="addBook()">Сохранить</button>
</div>
</div>
