<!--<div *ngIf="book">-->
<div class="menu">
  <button class="menu-button" routerLink="/books/{{idUser}}"><img class="butt" src="../../assets/back.svg"></button>
  <button *ngIf="role?.admin" routerLink="/admin-page/{{idUser}}" class="menu-button"><img class="menu-button-img" src="../../assets/admin.svg"></button>
  <button (click)="deleteSession()" class="menu-button"><img class="menu-button-img" src="../../assets/exit.svg"></button>
</div>
<div class="main">
<div class="main-img">
  <!--<img src="{{book.image}}">-->
</div>
<div class="main-descr" *ngIf="book">
  <div class="main-descr-top">
    <div><h2>{{book.name | uppercase}} </h2></div>
    <div class="main-descr-top-but">
      <button *ngIf="role?.editBook" class="bu" (click)="remo()"><img class="butt" src="../../assets/penсil.svg"></button>
      <button *ngIf="role?.deleteBook" class="bu" (click)="deleteBook()"><img class="butt" src="../../assets/delete.svg"></button>
    </div>
  </div>
  <ng-container [ngSwitch]="editMode">

    <ng-container *ngSwitchCase="false">
      <app-edit-book [book]="book" [idUser]="idUser" [editMode] (onChanged)="onChanged($event)"></app-edit-book>
    </ng-container>

    <ng-container *ngSwitchCase="true">
      <app-view [book]="book"></app-view>
    </ng-container>

  </ng-container>
</div>
</div>

