
<!--<div *ngIf="book">-->
   <div class="main">

          <div class="main-img">
              <img src="{{book.image}}">
          </div>

        <div class="main-descr">
          <div class="main-descr-top">
           <div> <h2>{{book.name | uppercase}} </h2> </div>
            <div class="main-descr-top-but">
            <button class="bu" routerLink="/editing/{{book.id}}"><img class="butt" src="../../assets/penсil.svg"> </button>
        <button class="bu"  routerLink="/books"><img class="butt" src="../../assets/delete.svg"> </button>
      </div>
          </div>
        <div><span class="main-descr-name">Автор: </span>{{book.author}}</div>
        <div><span class="main-descr-name">Год: </span>{{book.year}}</div>
        <div><span class="main-descr-name">Жанр: </span>{{book.genre}}</div>
        <div>{{book.description}} </div>
        <button routerLink="/books">go back</button>
      </div>

  </div>


