
<!--<div *ngIf="book">-->
  <div class="main">

          <div class="main-img">
              <img src="{{book.id}}">
          </div>

        <div class="main-descr">
          <div class="main-descr-top">
            <h2>{{book.name | uppercase}} </h2> 
            <button class="bu" routerLink="/editing/{{book.name}}"><img class="butt" src="../../assets/mb.webp"> </button>
            <button class="bu"  routerLink="/books"><img class="butt" src="../../assets/delete.png"> </button>
          </div>
        <div><span class="main-descr-name">Автор: </span>{{book.author}}</div>
        <div><span class="main-descr-name">Год: </span>{{book.year}}</div>
        <div><span class="main-descr-name">Жанр: </span>{{book.genre}}</div>
        <div>{{book.description}} </div>
        <button routerLink="/books">go back</button>
      </div>
  
  </div>  

 <!-- </div>-->
 