<div class="edi">
<h2 class="edi-name">{{book.name | uppercase}} РЕДАКТИРОВАНИЕ </h2>

  <div class="edi-top">
    <div class="edi-top-text">
            <div>
              <label>Название:
                <input class="main-input" size="30" [(ngModel)]="book.name" placeholder="name"/>
              </label>
            </div>
            <div>  <label>Автор   :
                <input class="main-input" size="30" [(ngModel)]="book.author" placeholder="name"/>
              </label></div>
            <div> <label>Год:
                <input class="main-input" size="30" [(ngModel)]="book.year" placeholder="name"/>
              </label></div>
              <div> <label>Жанр:
                  <input class="main-input" size="30" [(ngModel)]="book.genre" placeholder="name"/>
                </label></div>
                
    </div>
    <div class="edi-top-image">
        <img class="main-img" src="{{book.image}}">
      </div>
  </div>
  <div class="descript"> 
      <textarea class="descript-size" rows="15" [(ngModel)]="book.description" placeholder="name"></textarea>
  </div>
  <div class="butt">
  <button class="butt-desing" (click)="goBack()">Обратно</button>
  <button class="butt-desing" (click)="mb()" routerLink="/detail/{{book.id}}">Сохранить</button>
  </div>
</div>