<div class="edi">
<h2 class="edi-name">{{book.name | uppercase}} РЕДАКТИРОВАНИЕ </h2>

  <div class="edi-top">
    <div class="edi-top-text">
            <div>
              <label>Название:
                <input  class="main-input" [(ngModel)]="book.name" placeholder="name"/>
              </label>
            </div>
            <div>  <label>Автор:
                <input class="main-input" [(ngModel)]="book.author" placeholder="name"/>
              </label></div>
            <div> <label>Год:
                <input class="main-input" [(ngModel)]="book.year" placeholder="name"/>
              </label></div>
              <div> <label>Жанр:
                  <input class="main-input" [(ngModel)]="book.genre" placeholder="name"/>
                </label></div>
    </div>
    <div class="edi-top-image">
        <img class="main-img" src="../assets/7.jpg">
      </div>
  </div>
  <div> <label>Описание:
      <input  [(ngModel)]="book.description" placeholder="name"/>
    </label></div>
  <button (click)="goBack()">Save</button>
</div>