.main-img{
    height: 200px;
}

.edi{
    background-image: url("../../assets/back-edi.jpg");
    background-size: cover;
    padding: 3%;
        &-top{
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            &-text{
                margin-top: 3%;
            }
        }

    &-name{
        text-align:center;
    }
}

.main{
    &-input{
        background-color: rgba(240, 255, 255, 0);
        border: none;
        border-bottom: 2px black solid;
    }
}

.descript{
    margin: 3% 5%;
&-size{
    width:90%;
}

}